//@import "app";

footer {
  background-color: $background-color-footer;
  color: white;
  font-size: 1.6rem;


  ul {
    list-style: none;

    li {
      margin: 5% 0;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

div.container {
  padding: 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

  &:nth-child(n) {
    flex: 1 1 0;
  }

  section.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.2rem;

    img {
      margin-right: 2%;
      width: 20%;
    }
  }

  section.footer-network {
    display: flex;
    flex-direction: column;

    form div {
      background-color: $background-input-footer;
      padding: 2% 5%;
      margin-top: 2%;

      input {
        background: none;
        border: none;
        box-shadow: none;
        width: 77%;
        color: white;

        &::placeholder {
          color: white;
        }
      }
      button {
        color: white;
        border: none;
        background: none;
        box-shadow: none;

        &::before {
          content: " | ";
          margin: 1% 0;
        }
      }
    }

    div.footer-network-follow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

//** MEDIA QUERIES **//

@media screen and (max-width: 1024px){
  footer {
    ul {
      padding: 0;
    }
  }

  footer div.container {
    flex-wrap: wrap;
    justify-content: space-around;

    section.footer-logo {
      width: 50%;
      order: 3;
    }

    section.footer-network {
      width: 50%;
      order: 4;
    }

    section.footer-nav-helper, section.footer-nav-infos {
      width: 50%;
      text-align: center;
      margin-bottom: 5%;
    }

    section.footer-nav-infos {
      order: 2;
    }

    section.footer-nav-helper {
      order: 1;
    }
  }
}

@media screen and (max-width: 760px){
  footer {
    ul {
      padding: 0;
    }
  }

  footer div.container {
    flex-wrap: wrap;
    justify-content: space-around;

    section.footer-logo {
      width: 90%;
      order: 1;
    }

    section.footer-network {
      width: 80%;
      order: 4;
    }

    section.footer-nav-helper, section.footer-nav-infos {
      width: 50%;
      text-align: center;
    }

    section.footer-nav-helper {
      order: 2;
    }

    section.footer-nav-infos {
      order: 3;
    }
  }
}

