@import "app";

div.blurred {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 9999px;
  z-index: 1;
  background-color: rgba(0,0,0,.2);
}

section.header-head {
  margin-top: 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  div {
    flex: 1 1 0
  }

  div.header-menu {
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: start;
    font-size: 1.6rem;

    img {
      transition-duration: .6s;
      transition-timing-function: ease-in-out;
      width: 44px;
      height: 30px;
    }

    a {
      padding: 2em;
      margin: -2em;
      z-index: 3;
    }

    .rotate {
      transform: rotate(540deg);
      transition-duration: 0.8s;
      transition-timing-function: ease-out;
    }

    a {
      text-decoration: none;
      color: $color-link;
    }
  }



  div.header-logotitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $color-title;

    h1.header-title {
      font-family: $font-title;
      font-size: 4.6rem;
      margin: 0;
      color: $color-title;
    }

    p.header-slogan {
      margin: 0;
      font-size: 1.4rem;
      color: $color-title;
    }
  }

  div.header-options-profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3rem;

    input.header-input-search {
      width: 18%;
      background: none;
      border: none;
      box-shadow: none;
    }

    img {
      margin-right: 3%;
    }

    a.header-link-profile {
      width:40%;
      text-decoration: none;
      color: $color-link;

      &::before {
        content: " | ";
      }
    }
  }
}

section.header-navigation {
  width: 60%;
  margin: 3% auto;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1.6rem;

    li a {
      display: flex;
      height: 6em;
      width: 6em;
      padding-top: 1.5em;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: $color-link;

      &:hover {
        border-radius: 6em;
        background-color: white;
      }

      &:hover > * {
        animation: bounce .75s infinite
      }
    }
  }
}

aside.menu-slider {
  position: absolute;
  top: 12%;
  height: 100%;
  z-index: 2;
  left: -500px;
  width: 25%;
  padding: 2%;
  background-color: white;
  font-size: 1.6rem;
  transition-duration: 1s;

  h3 {
    font-size: 2.2rem;
    padding: 6%;
    background-color: $background-input-footer;
    color: white;
  }

  ul {
    list-style: none;

    li {
      margin: 5% 0;
    }

    a {
      text-decoration: none;
      color: $color-link;
      padding: 2%;

      &:hover {
        background-color: $background-input-footer;
        color: white;
      }
    }
  }
}


//** animation **//

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}