@import "app";

section.main-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div img {
    width: 100%;
    transition-duration: .3s;
  }

  section {
    width: 21%;
    display: flex;
    flex-direction: column;
  }

  section.second-img-col {
    width: 35%;
  }
}

// ** HOVER ** //

section[class*="col"] {
  div.main-img-container {
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
    margin-top: 6.5px;

    div.item-infos {
      background-color: cornflowerblue;
      color: $background-color;
      padding: 5%;
      position: absolute;
      bottom: -300px;
      left: 0;
      right: 0;
      height: 40%;
      transition-duration: .5s;
      transform: skew(0, -10deg);

      & > * {
        transform: skew(0, 10deg);
      }
    }

    &:hover div.item-infos {
      bottom: -50px;
    }
  }
}